{% extends "admin_views/base.twig" %}
{% block aditional_css %}

{% endblock %}
{% block title %}Listado de paginas{% endblock %}
{% block header_title %}Listado de paginas{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item active">
		<a href="{{path_for('paginas.index')}}">Páginas</a>
	</li>
{% endblock %}
{% block content %}
<div class="row">
	{% include 'admin_views/admin_partials/flash.twig' %}
</div>
<div class="row">
	{% for pagina in paginas %}
		<div class="col-lg-4 col-md-6 col-sm-12">
			<div class="card">
				<div class="card-header">
						<div class="dropdown ">
							<button type="button" class="btn btn-sm btn-primary badge dropdown-toggle " data-toggle="dropdown">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu" role="menu">
								<a class="dropdown-item" href="{{path_for('paginas.ver', {'id': pagina.id, 'titulo': pagina.titulo|trim|replace({' ':'-'})|e|lower })}}">Visualizar</a>
								<a class="dropdown-item" href="{{path_for('paginas.editar', {	'id': pagina.id })}}">Editar página</a>
								<a class="dropdown-item" href="{{path_for('paginas.bloques', {	'id_pagina': pagina.id })}}">Editar bloques</a>
								<a class="dropdown-item" href="{{path_for('paginas.fotos', {	'id': pagina.id })}}">Editar galería</a>
								{% if pagina.mostrar == 1 %}
								<a class="dropdown-item" href="{{path_for('paginas.ocultar', {	'id': pagina.id })}}">Ocultar</a>
								{% else %}
								<a class="dropdown-item" href="{{path_for('paginas.mostrar', {	'id': pagina.id })}}">Mostrar</a>
								{% endif %}
					    	<a class="dropdown-item" href="{{path_for('paginas.eliminar', {	'id': pagina.id })}}" onclick="return confirm('¿Estas seguro que quieres eliminar esta página? No hay vuelta atras capo.');">Eliminar página</a>
							</ul>
						</div>
						<span class="vehicle-modelo">{{pagina.titulo}}</span><br>{{pagina.contenido}}
					</div>
				</div>
				<div class="card-footer">
					<div class="col-md-12">
						<span class="vehicle-labels">
							{% if pagina.mostrar == 1 %}
							<span class="badge label-info">Página activa</span>
							{% else %}
							<span class="badge label-warning">Página sin mostrar</span>
							{% endif %}
						</span>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}
{% block custom_js %}
{% endblock %}
