{% extends "guest_views/base_fixed.twig" %}
{% block head %}
	<meta property="og:site_name" content="Ciro Automotores">
	<meta property="og:image" itemprop="image" content="{{base_url()}}/public/images/logo300x200.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:secure_url" itemprop="image" content="https:{{static_assets}}/public/images/logo300x200.png">
	<meta property="og:image:width" content="300">
	<meta property="og:image:height" content="200">
	<meta property="og:type" content="article" />
	<meta property="og:image:url" content="{{base_url()}}/public/images/logo300x200.png">
	<meta property="og:title" content="Ciro Automotores - Encontrá autos usados en Salta y Jujuy al igual que autos 0 KM" />
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<meta property="og:description" content="En Ciro Automotores te ofrecemos los mejores autos usados en Salta y Jujuy. Además contamos con autos 0 KM. ¡Te esperamos!" />
	<meta name="description" content="Ciro Automotores tiene los mejores autos usados en Salta y también contamos con autos 0 kilómetros. !Hacé contacto ahora mismo!" />
	<meta name="keywords" content="autos usados salta, autos usados en salta, autos 0 kilometros, autos 0 km" />
	<link itemprop="thumbnailUrl" href="{{base_url()}}/public/images/logo300x200.png"> 
	<span itemprop="thumbnail" itemscope itemtype="http://schema.org/ImageObject"> 
		<link itemprop="url" href="{{base_url()}}/public/images/logo300x200.png"> 
	</span>
{% endblock %}
{% block aditional_css %}
	{% if production %}

	<link rel="stylesheet" href="/dist/css/home.min.css" />
	<link rel="stylesheet" href="/dist/css/filterbar.min.css" />
	<link rel="stylesheet" href="/dist/css/vehicle-grid.min.css" />
	<link rel="stylesheet" href="/dist/css/vehicles.min.css" />

	{% else %}

	<link rel="stylesheet" href="/css/basic/sources/home.css" />	
	<link rel="stylesheet" href="/css/basic/sources/filterbar.css" />
	<link rel="stylesheet" href="/css/basic/sources/vehicle-grid.css">
	<link rel="stylesheet" href="/css/vehiculos/sources/vehicles.css">

	{% endif %}
	{% for module in extra_modules %}
		<!-- start {{ module.module }} css -->
		{% for css in module.css %}
		<link rel="stylesheet" href="{{css|raw}}" />
		{% endfor %}
		<!-- end {{ module.module }} css -->
	{% endfor %}
{% endblock %}
{% block title %}{# ✅ #} Autos Usados Salta | Autos 0 KM {% endblock %}
{% block content %}	
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-vehicles">
				<div id="grid">
					{% set off_start = pagina_numero == 1 ? 0 : (pagina_numero-1) * 9 %}
					{% set off_end = pagina_numero == 1 ? 9 : ((pagina_numero-1) * 9) %}
					{% for publicacion in publicaciones|slice(off_start,off_end) %}					
					<div class="card vehicle-card">
						<div class="vehicle-mi">
							<div class="vehicle-media">
								<div class="carousel-inner">
									{% if publicacion.vehiculo.getFotos | length > 0 %}
										<img class="card-img-top" src="{{path_for('imagen',{'params':publicacion.vehiculo.getFotos[0].archivo},{'p':'small'})}}" alt="{{publicacion.titulo}}">
										{#{% if publicacion.vehiculo.created_at > "now"|date_modify('-2 Week') %}
											<img class="lazo" src="/images/2a.png">
										{% elseif publicacion.rankSemana %}
											<img class="lazo" src="/images/2b.png">
										{% endif %}#}
									{% else %}
										<img class="card-img-top" src="{{path_for('imagen',{'params':'/asources/images/no-disponible.png'},{'p':'small'})}}" alt="Sin imagen para mostrar.">
										<div class="overlayer">
											<div class="w-100">
												Vehículo sin imagen.<br>Por el momento...
											</div>
										</div>
									{% endif %}
								</div>
							</div>
							<button onClick="ga('send', 'event', 'pagina_inicio', 'publicaciones', 'btn_whatsapp');" class="btn-sm btn-whatsapp btn-outline-success" data-href="https://api.whatsapp.com/send?phone=543874898080&text={% if auth.individuo %}Hola,%20mi%20nombre%20es%20{{auth.individuo.nombre|url_encode}}%20{{auth.individuo.apellido|url_encode}}{% else %}Hola{% endif %}.%20Tengo%20una%20consulta%20sobre%20esta%20publicación%20*{{publicacion.titulo|url_encode}}*.%0A{{base_url()|url_encode}}{{path_for('vehicle.ver', {	'titulo': publicacion.titulo|trim|replace({' ':'-'})|e|lower, 'id': publicacion.id })|url_encode}}" data-toggle="popover-whatsapp">
								<i class="fa fa-whatsapp"></i>
							</button>
							<div class="card-block vehicle-params">
								<div class="vehicle-param vehicle-title">{{ publicacion.titulo }}</div>
								<div class="vehicle-param vehicle-price">$ {{publicacion.vehiculo.precio_venta | number_format(0, '.', '.')}}</div>
								<div class="vehicle-param vehicle-data">{{ publicacion.vehiculo.year }} {{ publicacion.vehiculo.getUsado.kilometraje ? '| ' ~ publicacion.vehiculo.getUsado.kilometraje ~ 'km' : ''}}</div>
								<div class="vehicle-param vehicle-localidad">{{ publicacion.vehiculo.getLocalidad.nombre }}</div>
							</div>
						</div>						
						<div class="vehicle-view-pub">
							<a href="{{path_for('vehicle.ver', { 'titulo': publicacion.titulo|trim|replace({' ':'-'})|e|lower, 'id': publicacion.id })}}" class="btn btn-sm btn-primary btn-ver-publicacion pull-right">Ver publicación</a>
						</div>
					</div>
					{% endfor %}
				</div>

				{% set pages = publicaciones|length %}
				{% set pages = (pages / 9)|round(0, 'ceil') %}

				{% if pages > 1 %}
				<nav class="vehicle-paginator" id="vehicle-paginator" aria-label="pagination">
					<ul class="pagination justify-content-center pagination-circle pg-blue mb-0">

						{% if pagina_numero-1 >= 1 %}
						<li class="page-item {% if pagina_numero-1 == 0 %}disabled{% endif %}">
							<a class="page-link anterior" aria-label="Ir a la página anterior" title="Ir a la página anterior" href="{% if pagina_numero-1 == 1 or pagina_numero-1 == 0 %} {{path_for('vehicle.filter.precio', { desde: args.desde, hasta: args.hasta })}} {% else %} {{path_for('vehicle.filter.precio_pagina', { desde: args.desde, hasta: args.hasta, id: pagina_numero-1 })}} {% endif %}">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Ir a la página anterior</span>
							</a>
						</li>
						{% endif %}

						{% for i in 1..pages %}
							{% if loop.first %}
								<li class="page-item pagina-{{i}} {% if loop.index == pagina_numero %}active{% endif %}"><a class="page-link" href="{{path_for('vehicle.filter.precio', { desde: args.desde, hasta: args.hasta })}}">{{i}}</a></li>
							{% else %}
								<li class="page-item pagina-{{i}} {% if loop.index == pagina_numero %}active{% endif %}"><a class="page-link" href="{{path_for('vehicle.filter.precio_pagina', { desde: args.desde, hasta: args.hasta, id: i })}}">{{i}}</a></li>
							{% endif %}
							
						{% endfor %}

						{% if pagina_numero+1 <= pages %}
						<li class="page-item {% if pagina_numero+1 > pages %}disabled{% endif %}">
							<a class="page-link siguiente" aria-label="Ir a la siguiente página" title="Ir a la siguiente página" href="{{path_for('vehicle.filter.precio_pagina', { desde: args.desde, hasta: args.hasta, id: pagina_numero+1 })}}">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Ir a la siguiente página</span>
							</a>
						</li>
						{% endif %}

					</ul>
				</nav>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block custom_js %}
	{% if production %}
		
		<script src="/dist/js/vehicle-grid.min.js"></script>

	{% else %}
	
		<script src="/js/pages/vehicle-grid.js"></script>

	{% endif %}
{% endblock %}

{% block custom_modules %}
	{% for module in extra_modules %}
		<!-- start {{ module.module }} -->
		{% include module.settings.view %}
		<!-- end {{ module.module }} -->
	{% endfor %}
{% endblock %}